* {
  box-sizing: border-box;
}

body {
  
  justify-content: center;
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
  background-image: url('./images/blob\ 5.png'), url('./images/blobs.png');
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 300px;
              
              
              

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
